/* .title-edit {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: bold;
}

form {
  max-width: 1000px;
  margin: auto;
}

.form-label {
  color: var(--text-color);
}

.btn-edit-profile1 {
  background: linear-gradient(
    90deg,
    var(--btn-hover-color-start),
    var(--btn-hover-color-end)
  );
  color: var(--text-color);
  border: none;
  padding: 7px 14px;
  border-radius: 50px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-edit-profile1:hover {
  background: linear-gradient(
    90deg,
    var(--btn-hover-color-end),
    var(--btn-hover-color-start)
  );
  color: var(--text-color);
} */
