.card-kode {
  margin: 147px auto; /* Membuat kartu berada di tengah halaman */
  width: 60%;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background: white;
}

.card-header {
    background: linear-gradient(90deg, #115087, #352588, #352588);
    color: white;
    font-weight: bold;
    border-radius: 8px !important;
    height: 90px;
  }

.btn-primary {
  background: linear-gradient(90deg, #2e3192 0%, #1bffff 100%);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #1bffff 0%, #2e3192 100%);
}

.btn-link {
  color: #1bffff;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

.btn-link {
  color: #0008ff;
}

.kode-rekening{
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 525px) {
  .card-kode {
    padding: 10px;
  }

  .card-header {
    background: linear-gradient(90deg, #115087, #352588, #352588);
    color: white;
    font-weight: bold;
    border-radius: 8px !important;
    height: 90px;
    font-size: 12px;
  }

  .card-header .harga {
    font-size: 15px !important;
  }

  .card-body small {
    font-size: 0.8rem;
  }

  .card-body .btn-link {
    font-size: 0.8rem;
  }

  .card-body ul {
    margin-left: 10px;
  }

  .card-body li div {
    font-size: 0.85rem;
  }

  .fs-4 {
    font-size: 1.2rem !important;
  }

  .btn-primary {
    font-size: 0.9rem !important;
    padding: 8px 12px;
  }

  .kode-rekening{
    font-size: 20px !important;
    font-weight: bold;
  }
}